*{
    box-sizing: border-box;
    outline: 0;

    margin: 0px;
    padding: 0px;
}

@import url('https://fonts.googleapis.com/css2?family= Open + Sans:wght@300 & display=swap');

body{
    background-color: rgb(3, 62, 99);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
}

h1{
    text-align: center;
    padding: 5px;
}

.container{
    width: 50%;
    background-color: white;
    margin: 50px auto;
    padding: 20px;
    border-radius: 20px;
}

form input, form label, form button{
    display: block;
    width: 100%;
    margin: 10px auto;
}

form input:focus{
    outline:  2px solid rgb(3, 62, 99);
}

form button{
    background-color: rgb(3, 62, 99);
    border: none;
    color: white;
    font-size: 14px;
    height: 30px;
    border-radius: 20px;
}

form button:hover{
    background-color: rgb(2, 33, 53);
}
