*{
    box-sizing: border-box;
    outline: 0;

    margin: 0px;
    padding: 0px;
}

@import url('https://fonts.googleapis.com/css2?family= Open + Sans:wght@300 & display=swap');

body{
    background-color: rgb(3, 62, 99);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
}

h1{
    text-align: center;
    padding: 5px;
}

.container{
    display: grid;
    align-items: center;
    justify-content: center;
    width: 50%;
    background-color: white;
    text-align: center;
    margin: 50px auto;
    padding: 20px;
    border-radius: 20px;
    height: 300px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover{
    color: rgb(3, 62, 99);
}
